 <!DOCTYPE html>
 {% load static %}
  <link rel="stylesheet" href="{% static "css/navbar.css" %}">
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu.css' rel='stylesheet'>
  <header>
    <nav>
        <div class="logo">
            <img src="{% static 'img/logo4.png' %}" id="logo" alt="">
        </div>
        <div class="menu">
        <ul class="links">
            <li><a href="#"  class="li">Home</a></li>
            <li><a href="#" class="li">About</a></li>
            <li><a href="#" class="li">Animes</a></li>
            <li><a href="#" class="li">Characters</a></li>
        </ul>
     <div class="search_section">
          <input type="search" name="search_input" id="search_bar" placeholder="search...">
        </div> 
      </div>
      <div class="hamburger">
        <i class="gg-menu" id="hamburger"></i>
      </div>
    </nav>
  </header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="{% static 'js/navbar.js' %}"></script>